extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      .form-group
        label(for="question") Detail
        textarea.form-control(name="content", rows="5")= question.content
      .form-group
        label(for="sort") Category
        .form-control(name="sort", rows="1" )= question.sort
      .form-group
        label(for="field") Event Type
        .form-control(name="field", rows="1" )= question.field
      .form-group
        label(for="location") Location
        .form-control(type="text", name="location", placeholder="Where is the place?", value=question.location)= question.location
      .form-group
        .row
          .col-md-1
            label(for="charge") 가격
            .form-control(type="text", name="price", value=question.price)= question.price
      .form-group
        .row
          .col-md-2
            label(for="start") Start
            .form-control(type="text", name="start", placeholder="What time does it start?", value=question.start)= question.start
          .col-md-2
            label(for="finish") Finish
            .form-control(type="text", name="finish", placeholder="What time does it finish?", value=question.finish)= question.finish
      .form-group
        label(for="host") Organize
        .form-control(type="text", name="host", placeholder="who are you?", value=question.host)= question.host
      .form-group
        label(for="hostcontent") Organize Explanation
        textarea.form-control(name="hostcontent", rows="5")= question.hostcontent
      include _question

      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
          if question.author && question.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) Delete
      
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') Your Answer
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") Post Your Answer


  script(src='/javascripts/question_client.js')