extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      .form-group
        label(for="question") 이벤트 내용
        .form-control(name="content", rows="5")= question.content
      .form-group
        .row
            .col-md-4
              label(for="sort") 이벤트 종류
              .form-control(name="sort", rows="1" )= question.sort
            .col-md-4
              label(for="field") 이벤트 분야
              .form-control(name="field", rows="1" )= question.field
      .form-group
        .row
          .col-md-1
            label(for="charge") 가격
            .form-control(type="text", name="price", value=question.price)= question.price
      .form-group
        .row
          .col-md-2
            label(for="start") 시작시간
            .form-control(type="text", name="start", placeholder="What time does it start?", value=question.start)= question.start 
          .col-md-2
            label(for="finish") 종료시간
            .form-control(type="text", name="finish", placeholder="What time does it finish?", value=question.finish)= question.finish
          .col-md-2
            label(for="location") 장소
            .form-control(type="text", name="location", placeholder="Where is the place?", value=question.location)= question.location
      .form-group
        .row
          .col-md-4
            label(for="host") 등록 조직 이름
            .form-control(type="text", name="host", placeholder="who are you?", value=question.host)= question.host
      .form-group
        label(for="hostcontent") 등록 조직 설명
        .form-control(name="hostcontent", rows="5")= question.hostcontent
      .buttons
        if currentUser
          a.btn.btn-outline-warning(href=`/questions/${question.id}/join?_method=post`) 참여신청
      
      include _question

      .buttons
        if currentUser
          button.btn.btn-primary.question-like-btn(data-id=question.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
          
          if question.author && question.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) Delete
      
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    if currentUser
      form(action=`/questions/${question.id}/answers`, method='POST')
        .form-group
          label(for='answer') Your Answer
          textarea.form-control(name="content", rows="5")
        button.btn.btn-primary(type="submit") Post Your Answer


  script(src='/javascripts/question_client.js')