extends layout

block hero-unit
  .something
       #carouselExampleSlidesOnly.carousel-slide(data-ride="carousel")
            .carousel-inner
                .carousel-item.active
                    img.d-block(src="https://cdn.evbstatic.com/s3-build/perm_001/35d88f/django/images/home/banners/homepage_hero_banner_1.jpg" alt="First slide")
              
                .carousel-item
                     img.d-block(src="https://cdn.evbstatic.com/s3-build/perm_001/aa36c3/django/images/home/banners/homepage_hero_banner_2.jpg" alt="Second slide")
              
                .carousel-item
                     img.d-block(src="https://cdn.evbstatic.com/s3-build/perm_001/6812b9/django/images/home/banners/homepage_hero_banner_3.jpg" alt="Third slide")
              
    
          
      
block content
 
              .jumbotron
                .container
                  h3.display-3 Find your next experience
                      form.form-inline.search-input-group(action='/questions', method='GET')
                            select.form-control(name="find", rows="1")
                                .choose-Find
                                option(value="title", name="find" ) 제목
                                option(value="content", name="find" ) 내용
                                option(value="location", name="find" ) 장소
                                option(value="field", name="find" ) 분야
                                option(value="tags", name="find" ) 태그 
                            input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
              h3.recentlist 최근 게시된 이벤트 
              .card-deck
                each question in recentquestion
                        .card
                            img.card-img-top(src="/images/banner2.jpg" alt="Card image cap")
                            .card-body
                              
                                p.list event 제목 : 
                                     h6.card-title= question.title 
                                p.list event 주최자:
                                    h6.card-text= question.host 
                                p.list event 분야:
                                    h6.card-text= question.field    
                                a(href=`/questions/${question.id}`) go to this event!     